<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Catalog\Model\Product"
                type="OuterEdge\AutoBuyRelated\Model\Product"/>
    <preference for="Magento\Catalog\Model\Product\Link"
                type="OuterEdge\AutoBuyRelated\Model\Catalog\Product\Link"/>
    <preference for="Magento\Catalog\Model\Product\Link\Proxy"
                type="OuterEdge\AutoBuyRelated\Model\Catalog\Product\Link\Proxy"/>

    <type name="Magento\Catalog\Model\Product\Initialization\Helper\ProductLinks">
        <plugin sortOrder="4" name="afterInitializeLinks"
                type="OuterEdge\AutoBuyRelated\Model\Product\Initialization\Helper\ProductLinks"/>
    </type>

    <preference for="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Related"
                type="OuterEdge\AutoBuyRelated\Ui\DataProvider\Product\Form\Modifier\Related"/>

    <type name="Magento\Catalog\Model\Product\LinkTypeProvider">
        <arguments>
            <argument name="linkTypes" xsi:type="array">
                <item name="autobuy" xsi:type="const">OuterEdge\AutoBuyRelated\Model\Catalog\Product\Link::LINK_TYPE_AUTOBUY</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Model\ProductLink\CollectionProvider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="autobuy" xsi:type="object">OuterEdge\AutoBuyRelated\Model\Product\Link\CollectionProvider\Autobuy</item>
            </argument>
        </arguments>
    </type>
</config>
